<!DOCTYPE html>
<html>
  <head>
    <title>Is It Shorts Weather Tomorrow?</title>
    <link type='text/css' rel='stylesheet' href='shorts_weather.css'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
  </head>
  <body>
    <h1>Is It Shorts Weather Tomorrow????</h1>
    <div class=answer>
      <% if @shorts_weather %>
        <span class=yes>Yes</span>
      <% else %>
        <span class=no>No</span>
      <% end %>
    </div>
  </body>
</html>
